/* ======= GENERAL ======== */
body {
  -webkit-animation: color-change-2x 4s linear infinite alternate both;
  animation: color-change-2x 4s linear infinite alternate both;
}
h1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > img {
  width: 30%;
}
.container > h1 {
  font-family: "Montserrat", impact;
  font-weight: 800;
  font-size: 2.5em;
  margin-top: -1%;
  color: #dd8521;
  text-shadow: 1px 1px #f2cd99;
  letter-spacing: 2px;
}
/* ======= CAROUSEL SECTION ======== */
.carousel-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.carousel-images {
  width: 80%;
  background: #fa8d8e;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px #f2cd99;
}
.carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-button {
  align-self: center;
  background: #f2cd99;
  color: #888;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px #fa8d8e;
}
.carousel-button:hover {
  cursor: pointer;
  background: #fa8d8e;
  box-shadow: 1px 1px #f2cd99;
  color: white;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: hsl(63, 77%, 50%);
  }
  100% {
    background: hsl(152, 75%, 49%);
  }
}
@keyframes color-change-2x {
  0% {
    background: hsl(194, 76%, 65%);
  }
  100% {
    background: #f21628;
  }
}
